name: Docker Build and Run Test
on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-python-app .

      - name: Run Container Test
        run: docker run my-python-app
